<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>User Create</title>
</head>
<body>
	<h3><a href="/">Voltar!</a></h3>
	<h1> Cadastro de Usuarios! </h1>
	<form method="post">
		Nome: <input type="text" value="" name="username">
		</br>
		</br>
		Senha: <input type="password" value="" name="password">
		</br>
		</br>
		Email: <input type="password" value="" name="email">
		</br>
		</br>
		<button type="submit">Salvar</button>
	</form>
	
	
	
</body>

</html>