<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>User Create</title>
</head>
<body>
	<h3><a href="/">Voltar!</a></h3>
	<h1> Cadastro de Solution! </h1>
	<form method="post">
		Titulo: <input type="text" value="" name="title">
		</br>
		</br>
		Descrição: <input type="text" value="" name="description">
		</br>
		</br>
		Language: <input type="text" value="" name="language">
		<button type="submit">Salvar</button>
	</form>
	
	
	
</body>

</html>