<!doctype html>
<html lang="en">
  <head>
    <title>Permissões</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="nav navbar-nav">
              <a class="nav-item nav-link active" href="#"><i class="fas fa-users"></i> Usuários <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#"><i class="fas fa-arrow-alt-circle-left"></i> Voltar para Dashboard</a>
          </div>
      </nav>
      <div class="container">
          <table class="table">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Editar</th>
                      <th>Ler</th>
                      <th>Excluir</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row"></td>
                      <td class="col"></td>
                      <td class="col-1"><a href=""><i class="fas fa-pencil-alt"></i></a></td>
                      <td class="col-1"><a href=""><i class="fas fa-eye"></i></a></td>
                      <td class="col-1"><a href=""><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                <tbody>
          </table>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>