<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>GotToGo | Ajudando programadores</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	rel="stylesheet">
<!-- Bootstrap CSS -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light text-dark">
	<div class="container p-5">
		<div class="row text-center">
			<div class="offset-md-4 col-md-4">
				<img src="LogoGotToGo-01.png" height="180px;">
				<h5>Uma plataforma para programadores de todos os níveis</h5>
				<hr class="m-3">
			</div>
		</div>
		<div class="row text-center">
			<div class="offset-md-4 col-md-4">
				<div class="form-login">
					<form method="post">
						<h4>BEM VINDO</h4>
						<hr class="mb-4 mt-3">
						<label for="userName">Nome de usuário</label> <input type="text"
							id="username" name="username"
							class="form-control input-sm chat-input" placeholder="Usuario" />
						</br> <label for="userPassword">Senha</label> <input type="password"
							id="password" name="password"
							class="form-control input-sm chat-input" placeholder="Senha" />
						</br>
						<div class="wrapper">
							<span class="group-btn">
								<button type="submit" href="/itemLanguage"
									class="btn btn-success btn-md col-md-10 m-1">
									login <i class="fas fa-sign-in-alt"></i>
								</button>
								<button href="/itemLanguage"
									class="btn btn-danger btn-md col-md-10 m-1">Cancelar</button>
							</span> <a href="/form"><p class="m-2">Criar conta grátis</p></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-dark text-center text-light p-5 footer mt-5">
		<img src="LogoGotToGo-02.png" height="80px;">
		<h6>Ajudando programadores</h6>
		<p>
			<i class="fas fa-registered    "></i> Todos os direitos reservados
		</p>
		<p>
			<i class="fas fa-code"></i> Desenvolvido por Lucas Hubert, Patrik
			Reisner e Jacson Pessoa
		</p>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>