<!doctype html>
<html lang="pt-br">
  <head>
    <title>GotToGo | Ajudando programadores</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
            color: #FB971F;
        }
        a:hover {
            text-decoration: none;
            color: #FDC00F;
        }
        .user, .lead {
            color: #FDC00F;
        }
        .user:hover {
            color: #FB971F;
        }
        tr:hover{
            color:#FB971F;
        }
        #btnSearch {
            background-color: #FB971F;
        }
        #Pesquisar {
            border-color:#FB971F;
            color: #FB971F
        }
        td {
            padding: 2px 10px;
            text-align: center;
        }
        tr:hover{
            color:#FB971F;
        }
        .td:hover{
            background-color: #FB971F;
            color: #ffffff;
            border-radius: 5px;
        }
    </style>
  </head>
  <body>
      <div class="jumbotron bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Titulo do Tutorial</h3>
                    <p class="lead">Linguagem</p>
                </div>
                <div class="col-sm-4 text-center user">
                    <img src="LogoGotToGo-04.png" height="70px">
                    <div class="dropdown">
                        <p class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            Lucas Hubert
                        </p>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>&nbsp&nbsp Sair</a>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>  
    </div>
    <div class="container">
        <a name="" id="" class="" href="#" role="button"><i class="fas fa-arrow-left    "></i> Voltar</a>
        
        <section>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum dictum enim, id malesuada purus molestie et. Mauris ac viverra lorem. Nunc quis tristique odio, nec bibendum justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum elit leo, viverra vestibulum nisi at, auctor elementum lacus. Aliquam congue metus sed vestibulum gravida. Aenean tempus nisi vel metus lacinia, eu pellentesque est luctus.

                    Duis imperdiet leo sapien. Integer quis varius est. Curabitur vel lectus euismod, finibus lacus id, molestie justo. Cras pulvinar turpis eget posuere posuere. Etiam laoreet nisl id dignissim egestas. Cras porttitor massa arcu, a porta sapien consectetur in. Donec ac sodales tortor. Integer a pharetra eros. Donec sit amet maximus eros. Phasellus justo sapien, lacinia eget luctus bibendum, fermentum nec neque.
                    
                    Aenean eget nunc vitae leo feugiat ultrices non et justo. Donec elit quam, posuere eu faucibus nec, vulputate ut tellus. Donec at consequat sem, in elementum libero. Praesent lectus nunc, facilisis sit amet maximus a, laoreet vitae lorem. Nam porttitor dictum fermentum. Nunc eros enim, maximus vel tincidunt a, aliquet non felis. Phasellus eget urna felis. Aliquam posuere ut erat sit amet posuere. Maecenas et mi ante. Curabitur faucibus purus eu nisi ornare, a rhoncus nulla luctus. Fusce turpis odio, porta in finibus ut, dictum in nibh. Nulla ac eleifend magna. Nunc vel risus in tellus feugiat pretium. Mauris finibus dolor lacus.
                    
                    Donec imperdiet efficitur lectus vel tincidunt. Proin tristique non felis a euismod. Mauris ut tellus scelerisque, vestibulum neque vitae, facilisis diam. Praesent et commodo ex, sed pellentesque tortor. Suspendisse facilisis quam eu neque dapibus, et mollis magna dictum. Ut ullamcorper bibendum quam ac interdum. Quisque nunc sem, vehicula eu malesuada quis, convallis et velit. Fusce ac semper purus. Pellentesque et ultrices orci. Sed volutpat, nunc vel bibendum porttitor, enim sapien dapibus arcu, vitae posuere erat est a metus. Pellentesque rhoncus porttitor velit eget feugiat. Quisque feugiat diam pharetra efficitur sagittis. Curabitur eu tortor ac leo vestibulum eleifend eu non arcu. Sed tempor porttitor diam id iaculis. Sed blandit massa in dui elementum, nec mollis neque mattis. Donec ac cursus libero.
                    
                    Integer aliquet nunc vel augue lacinia, quis tristique enim mollis. Mauris porta, lorem nec malesuada porta, ipsum metus varius metus, ut sagittis libero turpis ut lorem. Suspendisse nec fringilla quam. Vestibulum porttitor quis nulla id scelerisque. Aliquam tortor leo, blandit non dignissim in, consectetur vel sapien. Mauris nec magna sodales, facilisis tellus ac, interdum dui. Aliquam ipsum ipsum, facilisis id arcu non, commodo aliquet eros. Suspendisse felis mi, iaculis at fringilla id, ultrices at lorem. Aenean eu porttitor odio. Fusce dictum nunc erat, nec gravida nisi consequat sed.</p>
        </section>
    </div>
<footer>
    <div class="bg-dark text-center text-light p-5 footer">
        <img src="LogoGotToGo-02.png" height="80px;">
        <h6>Educação para programadores</h6>
        <p>
            <i class="fas fa-registered"></i> Todos os direitos reservados
        </p>
        <p>
            <i class="fas fa-code"></i> Desenvolvido por Lucas Hubert, Patrik Reisner e Jacson Pessoa
        </p>
    </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>