<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>GotToGo | Ajudando programadores</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
a {
	text-decoration: none;
	color: #FB971F;
}

a:hover {
	text-decoration: none;
	color: #FDC00F;
}

.user, .lead {
	color: #FDC00F;
}

.user:hover {
	color: #FB971F;
}

tr:hover {
	color: #FB971F;
}

#btnSearch {
	background-color: #FB971F;
}

#Pesquisar {
	border-color: #FB971F;
	color: #FB971F
}

td {
	padding: 2px 10px;
	text-align: center;
}

tr:hover {
	color: #FB971F;
}

.td:hover {
	background-color: #FB971F;
	color: #ffffff;
	border-radius: 5px;
}
</style>
</head>
<body>
	<div class="jumbotron bg-dark text-light">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h3 th:text="${solution.title}"></h3>
					<p class="lead">Linguagem</p>
				</div>
				<div class="col-sm-4 text-center user">
					<img src="LogoGotToGo-04.png" height="70px">
					<div class="dropdown">
						<p class="dropdown-toggle" id="dropdownMenuButton"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-user-circle" aria-hidden="true"></i> Lucas Hubert
						</p>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#"><i
								class="fas fa-sign-out-alt"></i>&nbsp&nbsp Sair</a>
						</div>
					</div>
				</div>
	<div class="container">
		<button class="btn btn-default btn-primary" data-toggle="collapse"
			data-target="#demo"><i class="fas fa-cog"></i> &nbspEdit</button>
		<div class="form-group">
			<div id="demo" class="collapse">
				<form method="post">
					<h3>Nome:</h3>
					<input class="form-control" type="text"
						th:value="${solution.title}" name="title"> </br>
					<h3>Descrição:</h3>
					<textarea class="form-control" th:text="${solution.description}"
						name="description"></textarea>
					</br>
					<button type="submit">Salvar</button>
				</form>
			</div>
		</div>
	</div>
			</div>
		</div>
	</div>
	<div class="container">
		<a name="" id="" class="" th:href="@{'/items/' + ${solution.language.id}}" role="button"><i
			class="fas fa-arrow-left    "></i> Voltar</a>

		<section>
			<h1 th:text="${solution.title}"></h1>
			<p th:text="${solution.description}"></p>
		</section>
	</div>
	<footer>
		<div class="bg-dark text-center text-light p-5 footer">
			<img src="LogoGotToGo-02.png" height="80px;">
			<h6>Educação para programadores</h6>
			<p>
				<i class="fas fa-registered"></i> Todos os direitos reservados
			</p>
			<p>
				<i class="fas fa-code"></i> Desenvolvido por Lucas Hubert, Patrik
				Reisner e Jacson Pessoa
			</p>
		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>