<!doctype html>
<html lang="pt-br">
  <head>
    <title>GotToGo | Ajudando programadores</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-light text-dark">
      <div class="container p-5">
          <div class="row text-center">
            <div class="offset-md-4 col-md-4">
                <img src="https://lh4.googleusercontent.com/YuMESvgi-UBe0LEBGbEigWLn2wNv12Oj2owXHXoONyCB1UbF6I-4o3jPS0WpjCYg1JMeppY0V62xb0kncP2r=w1366-h672" height="180px;">
                <h5>Uma plataforma para programadores de todos os níveis</h5>
                <hr class="m-3">
            </div>
          </div>
          <div class="row text-center">
              <div class="offset-md-4 col-md-4">
                  <div class="form-login">
                  <h4>BEM VINDO</h4>
                  <hr class="mb-4 mt-3">
                  <label for="userName">Nome de usuário</label>
                  <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Robeto Hubert" />
                  </br>
                  <label for="userPassword">Senha</label>
                  <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="••••••••" />
                  </br>
                  <div class="wrapper">
                    <span class="group-btn">     
                        <a href="#" class="btn btn-success btn-md col-md-10 m-1">login <i class="fas fa-sign-in-alt"></i> </a>
                        <a href="#" class="btn btn-danger btn-md col-md-10 m-1">Cancelar </a>
                    </span>
                    <a href="#"><p class="m-2">Criar conta grátis</p></a>
                    <a href="#"><p class="m-2">Esqueceu sua senha?</p></a>
                  </div>
                  </div>
              
              </div>
          </div>
      </div>
      <div class="bg-dark text-center text-light p-5 footer mt-5">
        <img src="https://lh5.googleusercontent.com/Hfb1tAIno2ZkwtV4Gd2A-lZ3DdlypbWklB5mbSPBJ1DuzYJTO5AzyCnEqGl-nuAzZ6HiFM2uC6V3CHuH4NcP=w1366-h672" height="80px;">
        <h6>Ajudando programadores</h6>
        <p>
            <i class="fas fa-registered    "></i> Todos os direitos reservados
        </p>
        <p>
            <i class="fas fa-code"></i> Desenvolvido por Lucas Hubert, Patrik Reisner e Jacson Pessoa
        </p>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>